@page "/"

<PageTitle>Home</PageTitle>

<h1>Home</h1>

Welcome to the best e-commerce platform in the world - eShopLite!

<div class="note">
    <b>Note: </b>This version of the demo has been tampered with by adding delays and errors to simulate a real-life application and provide information for monitoring.
</div>

<style>
    .note {
        position: fixed;
        bottom: 40%;
        width: 70%;
        text-align: center;
        background-color: rgba(250, 208, 177, 0.8);
        padding: 10px;
        font-size: 0.9em;
        color: #333;
    }
</style>
